[defaults]
collections_path       = galaxy_collections
roles_path             = galaxy_roles:roles
inventory              = inventory/tart_inventory.py
host_key_checking      = false
remote_user            = admin
interpreter_python     = auto_silent
display_args_to_stdout = true
log_path               = .ansible/ansible.log
callbacks_enabled      = profile_tasks

# Speeds up runs by using SSH multiplexing
[ssh_connection]
ssh_args   = -o ControlMaster=auto -o ControlPersist=60s
pipelining = true
