[defaults]
collections_paths      = galaxy_collections
inventory              = inventory/tart_inventory.py
roles_path             = roles:galaxy_roles

host_key_checking      = false
private_key_file       = ~/.ssh/ansible_ci
remote_user            = admin

interpreter_python     = auto_silent

display_args_to_stdout = true
log_path               = .ansible/ansible.log
result_format          = yaml

# Speeds up runs by using SSH multiplexing
[ssh_connection]
ssh_args   = -o ControlMaster=auto -o ControlPersist=60s
pipelining = true
