[defaults]
roles_path         = roles:galaxy_roles
inventory          = inventory/tart_inventory.py
remote_user        = admin
private_key_file   = ~/.ssh/ansible_ci
host_key_checking  = false
stdout_callback    = debug
interpreter_python = auto_silent

# Speeds up runs by using SSH multiplexing
[ssh_connection]
ssh_args   = -o ControlMaster=auto -o ControlPersist=60s
pipelining = true
